{% extends 'base.html.twig' %}

{% block title %}Voyage + | A Propos {% endblock %}

{% block body %}

<hgroup>
    <h1>A propos de nous</h1>
    <p>Voici quelques mots sur notre projet, notre vision et sa construction.</p>
</hgroup>


<h2>Notre histoire</h2>
<p>
    Ce projet a été initié par un développeur passionné qui a consacré son temps libre à donner vie à cette application.
    Guidé par une vision d'offrir une solution pratique pour les voyageurs, il a créé une plateforme conçue pour
    répondre
    à divers besoins en matière de voyage. Cette initiative personnelle est née de l'amour pour la technologie,
    le voyage et le désir d'améliorer l'expérience de chaque explorateur.
</p>


<hgroup>
    <h3>Nos Fonctionnalités</h3>
    <p>
        Notre application est conçue pour simplifier la planification de voyages
        et pour s'adapter aux préférences individuelles de chaque voyageur.
        Parmi nos fonctionnalités clés, vous trouverez :
    </p>
</hgroup>
<ul>
    <li>
        <hgroup>
            <h6>Formulaire Personnalisé</h6>
            <p> Un formulaire intuitif qui permet aux utilisateurs de définir leurs préférences et aversions,
                du choix de la destination à la durée du voyage,
                en passant par le budget et le mode de transport.
            </p>
        </hgroup>
    </li>
    <li>
        <hgroup>
            <h6>Recommandations Intelligentes</h6>
            <p>Grâce à des algorithmes avancés, l'application génère un itinéraire de voyage sur mesure en prenant en
                compte
                toutes les informations fournies. Vous recevrez des recommandations pertinentes qui correspondent à vos
                goûts.
            </p>
        </hgroup>
    </li>
    <li>
        <hgroup>
            <h6>Suivi Simplifié</h6>
            <p>Notre plateforme vous permet de suivre toutes les étapes de votre voyage, de la réservation des billets à
                l'hébergement et aux activités. Tout est organisé en un seul endroit.</p>

        </hgroup>
    </li>
    <li>
        <hgroup>
            <h6>Partage Facile</h6>
            <p>Vous pouvez partager vos projets de voyage avec vos amis et votre famille, facilitant ainsi la
                coordination des
                voyages de groupe.</p>
        </hgroup>
    </li>
</ul>











<h4>Pourquoi Notre Application est Indispensable ?</h4>
<p>
    Dans un monde de plus en plus complexe, la planification de voyages peut rapidement devenir une tâche ardue. Notre
    application simplifie ce processus, faisant gagner du temps aux voyageurs et réduisant le stress lié à la
    préparation d'un voyage. Plus qu'un simple outil de planification, notre application offre une expérience de voyage
    plus agréable, en vous aidant à découvrir de nouvelles destinations qui correspondent à vos préférences.
    <br>
    <br>
    Que vous soyez un voyageur chevronné ou que vous prépariez votre premier voyage, notre application est votre
    compagnon de confiance pour des aventures inoubliables. Elle est conçue pour vous offrir la liberté de découvrir le
    monde à votre manière, en vous faisant économiser du temps et en vous guidant vers des expériences uniques.
    <br>
    <br>
    Rejoignez-nous dans cette aventure passionnante de découverte du monde, simplifiée par la technologie.
    <br><br>
    Bienvenue sur Voyageur+, où vos rêves de voyage prennent vie.
</p>

{% endblock %}