{% extends 'base.html.twig' %}

{% block title %} Réinitialisation de votre mot de passe | Voyageur +{% endblock %}

{% block body %}
<main class="container">
    <article class="grid">
        <div>
            <form method="post">
                <hgroup>
                    <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de votre mot de passe</h1>
                    <h2>Retrouvez tous vos voyages</h2>
                </hgroup>
                {{form_start(requestPassForm)}}
                {{ form_row(requestPassForm.email)}}
                <button class="btn btn-lg btn-primary" type="submit">Valider</button>
                {{form_end(requestPassForm)}}

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me
                functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
            </form>
        </div>
        {# <div>
            <img class="img-signIn"
                src="https://images.pexels.com/photos/4947416/pexels-photo-4947416.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="img-sign-in">
        </div> #}
        <div>
            <img class="img-signIn"
                src="https://images.pexels.com/photos/17213600/pexels-photo-17213600/free-photo-of-route-ensoleille-foret-arbres.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="img-sign-in">
        </div>
    </article>
</main>

{% endblock %}