{% extends 'base.html.twig' %}

{% block title %} 🫡 Contactez nous{% endblock %}

{% block body %}

<main class="container">

    <hgroup>
      <h2>Passez nous le bonjour ! 🙂</h2>
      <p>Remplissez le formulaire pour joindre notre équipe Voyage+ en quelques clics.</p>
    </hgroup>
    <form id="form1">

      <!-- Grid -->
      <div class="grid">
    
        <!-- Markup example 1: input is inside label -->
        <label for="lastname">
          Nom
          <input type="text" id="lastname" name="lastname" placeholder="Nom" required>
        </label>
    
        <label for="firstname">
          Prénom
          <input type="text" id="firstname" name="firstname" placeholder="Prénom" required>
        </label>

        <label for="email">
          Email
          <input type="email" id="email" name="email" placeholder="Email" required>
        </label>
    
      </div>
    
      <!-- Markup example 2: input is after label -->
      <label for="text">Message</label>
      <textarea form="form1">Entrez votre message</textarea>
      <small>Nous ne partagerons jamais votre adresse mail.</small>
    
      <!-- Button -->
      <button type="submit">Envoyer</button>
    
    </form>

    <!-- <article aria-busy="true"></article> -->
  </main>

{% endblock %}