{% extends 'base.html.twig' %}

{% block title %}Voyage + | ChatBot {% endblock %}

{% block body %}
<h1>🚀 Liste de tes voyages de rêve {{user.prenom}} 🚀</h1>
{% if mesVoyages is empty %}
<p>Vous n'avez pas encore soumis de formulaires de voyage.</p>
{% else %}
<ul>
    {% for formNumber, responses in responsesByForm %}
    <h3>Numéro de formulaire : {{ formNumber }}</h3>
        <ul>
            {% for response in responses %}
                <li>{{ response.laReponse }}</li>
                {# <li>{{ response.reponseIA }}</li> #}
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
