<h1>Activez votre compte</h1>

<p>Bonjour, {{user.prenom}}  votre inscription sur Voyageur+ est à valider en cliquant sur le lien ci dessous :</p>

<p><a href="{{ absolute_url(path('verification_user', {token: token})) }}">Lien</a></p>

<p>Ce lien expira dans 3 heures.</p>