<div class="container-fluid">
    <nav>
        <ul>
            <a href="{{path('app_home')}}" class="no-styled-link"><li><strong>Voyageur +</strong></li></a>
        </ul>
        <ul>

            <li><a id="theme_switcher"></a></li>
        </ul>
    </nav>
</div>