<div class="container-fluid">
    <nav>
        <ul>
            <a href="{{path('app_home')}}" class="no-styled-link"><li><strong>Voyage +</strong></li></a>
        </ul>
        <ul>
            <li><a href="#">Connexion</a></li>
            <li><a href="{{path('app_chat_bot')}}">Chat Bot</a></li>
            <li><a href="#" role="button">Contact</a></li>
            <li><a id="theme_switcher"></a></li>
        </ul>
    </nav>
</div>