{% extends "base_error.html.twig" %}

{% block body %}
<article id="article">
    <hgroup>
        <h2>Oups ! vous vous êtes perdu ... 🫠</h2>
        <p>Cette page n'existe pas !</p>
    
        <a href="{{path('app_home')}}">   
            <button>Je retrouve mon chemin</button> 
        </a>
    </hgroup>
</article>

{% endblock %}